* {
    box-sizing: border-box;
}

/* _________________________________________ */
/* ↓ Estilos de base para todo el proyecto ↓ */
/* _________________________________________ */

body {
    padding-top: 180px;
    margin: 0;
    background-color: #ffffff;
    font-family: "poppins", sans-serif;
    overflow-x: hidden;
}

.cabecera {
    background-color: #e8d9e8;
    border-bottom: 2px solid #c4b1ca;
    width: 100%;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    transition: top 0.3s ease-in-out;
}

.cabecera.oculta {
    top: -100%;
}

.boton {
    background-color: transparent;
    text-align: center;
    font-family: "poppins", sans-serif;

}
/* TO DO: ARREGLAR LETRA DE H4 */
h4 {
    font-family: 'Italianno', cursive;
    font-size: 50px;
    text-align: center;
    color: #42254b;
}

h5 {
    font-size: 1rem;
}

#legal {
    padding: 2rem 12rem;
}

#legal ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #241a22;
    text-decoration:none ;
}

#legal a{
    color: #241a22; ;
}

#legal h2{
    font-size: 2rem ;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    text-align: center;
    color: #42254b;
}

.pieCreditos a{
    color: #241a22;
    text-decoration: none;
    text-transform: uppercase;
}
.bannerPortada {
    position: relative;
    width: 100%;
    height: auto;
    background-image: url('images/paisaje.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    min-height: 40vh;
}

.bannerPortada::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: 1; 
 }

 .botonBase {
    display: inline-block;
    background-color: #42254b;
    color: #f0e9f4;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
 
 }

 .botonBase:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 16px #241a22; 
 }

.textoBanner {
    position: relative;
    z-index: 2;
    max-width: 800px;
    padding: 20px;
}

.frase {
    font-size: 60px;
    padding: 0 0;
}

.divTitulo {
    width: 90%;
    height: auto;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content:center ;
    gap: 30px;
}

.tarjetasHacemos{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 15px;
    border: 1px solid #42254b ;
    border-radius: 30px;
    width: 30%;
    transition: transform 0.3s ease;
    box-shadow: 0.3s ease;
}

.tarjetasHacemos img {
    height: 100px;
    width: auto;
}

.tarjetasHacemos a{
    text-decoration: none;
}

 .tarjetasHacemos:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 16px #241a22; 
 }

 .tarjetasHacemos a:active{
    color:inherit;
 }
 .claseImagenConTexto {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 80%;
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    padding: 50px;
}
.imagenDeTexto ,.textoDeImagen {
    text-align: justify;
}

.imagenDeTexto img {
    width: 400px;
    height: auto;
    display: block;
    border-radius: 10px;
}

p {
    margin-bottom: 1rem ;
}

.tarjetasEquipo img {
    height: 350px;
    width: auto;
    border-radius: 30px;
}

.tarjetasEquipo {
    padding: 30px;
    border-radius: 30px;
}

.contenedorValores {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem 2rem;
    max-width: 850px;
    margin: 0 auto;
}

.contenedorValores h2{
    margin-bottom: -0.2rem;
    margin-top: -1.5rem;
    text-align: center;
}

.filaHorizontalValor {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.inverso {
    flex-direction: row-reverse;
    text-align: right;
}

.columnaNumero {
    font-size: 8rem;
    font-weight: 900;
    color:#c4b1ca;
    line-height:0.1;
    flex-shrink: 0;
}

.columnaTexto {
    font-size: 1.1rem;
    line-height: 1.6;
}

.redesVecinales {
    text-align: center;
    width:60%;
    height: auto;
    margin: 0 auto;
}

.piePagina {
    background-color:#e8d9e8;
    border-top: #c4b1ca 2px solid;
    margin: 3rem auto 0 auto;
    padding-top:2rem;
}
.espaciadoExtra{
    margin-top: 1.5rem;
}

.pieColumnas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1.5rem;
    align-items: start;
    margin-top: 3rem;
    margin-left: 2rem;
}

.columnaLogo {
    text-align: center;
}

.columnaLogo img{
    width: 100%;
    max-width: 17rem;
    height: auto;
    display: block;
    margin: 0 auto;
}

.tituloPie {
    font-weight: bold;
    color: #42254b;

}

.columnaEnlaces {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.columnaEnlaces ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.columnaEnlaces a{
  text-decoration: none;
    transition: color 0.3s ease;
    color: #241a22;
}

.columnaEnlaces a:hover {
    color: #c4b1ca;
}

.pieCreditos {
    text-align: center;
    margin-top: 3rem;
    padding: 1.5rem 0;
    border-top:#c4b1ca 2px solid;
    background-color: #f0e9f4;
    
}

.pieCreditos p{
    margin: 0.5rem 0;
}



/* .tarjetaInformacion {
    width: 50%;
    height: auto;
    text-align: justify;
    margin: 30px auto;
    background-color:#f0e9f4;
} */

/* _________________________________________ */
/* ↑ Estilos de base para todo el proyecto ↑ */
/* _________________________________________ */







/* _________________________________________ */
/* ↓ Estilos cabecera solo escritorio ↓ */
/* _________________________________________ */
@media (min-width:1327px) {
    #btnMenu, #contenedorLogoMovil, #btnOcultar {
        display: none;
    }

    .cabecera nav{
        display: flex;
        justify-content: center;
        gap: 0px;
        text-transform: uppercase;
        font-family: "poppins", sans-serif;
    }

    .cabecera nav a.boton:hover {
        transform: scale(1.05);
        box-shadow: 2px 2px 4px #241a22;
    }
         
    .cabecera a{
        text-decoration: none;
        color: #42254b;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 20px;
        flex: 1;
        text-align: center;
    }
    .cabecera a:hover {
        background-color: #42254b;
        color: #f0e9f4;
        }
    #logoHorizontal {
        max-width: 550px;
        height: auto;
    }

    #contenedorLogo {
        padding: 0;
        flex: 0;
        }

     .cabecera nav a.boton {
        background-color: #f0e9f4;
        color: #241a22;
        flex: 1;
        padding: 1px;
        margin: 60px 1px;
        border-radius: 40px;
        border: 2px solid #c4b1ca;
        transition: 0.2s;
    }

    #contenedorLogo:hover{
        background-color: transparent;
    }
}

/* _________________________________________ */
/* ↑ Estilos cabecera solo escritorio ↑ */
/* _________________________________________ */







/* _________________________________________ */
/* ↓ Estilos cabecera solo móvil ↓ */
/* _________________________________________ */
@media (max-width:1326px) {

    #btnOcultar {
        background: #42254b;
        color: #e8d9e8;
        border: none;
        padding: 20px;
        margin: 0;
        width: 100%;
        font-family: "poppins", sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 30px;
    }

    #menuLateral{
        position: fixed;
        top: 0;
        right: -100%;
        width: 40%;
        height: 100vh;
        background-color: #f0e9f4;
        display: flex;
        flex-direction: column;
        transition: 0.4s ease;
        z-index: 100;
        box-shadow: -5px 0 15px rgba(0,0,0,0.1);
        font-family: "poppins", sans-serif;
    }

    #menuLateral.activo{
        right: 0;
    }

    .cabecera {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
     }

    #logoMovil{
        width: 100%;
        max-width: 400px;
        height: auto;
    }

    #btnMenu {
        display: block;
        background: none;
        border: none;
        font-size: 32px;
        color:#42254b;
        padding: 30px;

        }

    #contenedorLogo {
        display: none;
    }

    .cabecera a{
        text-decoration: none;
        color: #42254b;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 20px;
        flex: 1;
        text-align: center;
    }

    .cabecera a:hover {
        background-color: #42254b;
        color: #f0e9f4;
        }

    #contenedorLogoMovil:hover{
        background-color: transparent;
    }
}
/* _________________________________________ */
/* ↑ Estilos cabecera solo móvil ↑ */
/* _________________________________________ */



/* _________________________________________ */
/* ↓ Estilos generales para Móvil y Tablet ↓
Habra que comprobar, de momento es el tamaño para los valñ */
/* _________________________________________ */
@media (max-width: 983px) {
    .claseImagenConTexto {
        flex-direction: column;
        padding: 20px;
        gap: 20px;
        width: 90%;
    }

    .imagenDeTexto img {
        width: 100%;
        max-width: 400px;
    }
    
    .divTitulo {
        flex-direction: column;
        width: 90%;
        align-items: center;
    }
    .filaHorizontalValor, .filaHorizontalValor.inverso {
        flex-direction: column;
        text-align: center;
        gap: 1rem;
    }

    .columnaNumero {
        font-size: 4.5rem;
    }

.pieColumnas{

}

}

/* _________________________________________ */
/* ↑ Estilos generales para Móvil y Tablet  ↑ */
/* _________________________________________ */